{% extends "base.html" %}

{% block content %}

</nav>
<section id="about">
  <div class="container">
    <div class="row main p-2">
      <div class="avatar col-lg-4 col-md-12 col-sm-12">
        <div class="blog-img">
          <img src="static/admin/img/avatar.jpg" class="img-fluid">
        </div>
      </div>
      <div class="blog col-lg-8 col-md-12 col-sm-12">
        <div class="blog-title mb-3">
          <h3>Welcome to my blog</h3>
        </div>
        <div class="blog-date mb-2">
          <span>February 2023</span>
        </div>
        <div class="blog-description mb-2">
          <p>I am Thabiso Msimango, a student at the Tshwane University of Technology,
            where I study Computer Systems Engineering under the Information and 
            Communication Technology (ICT) Faculty.
          </p>
        </div>
      </div>
      <div class="blog col-lg-15 col-md-12 col-sm-12">
        <p>
          <div class="blog-date mb-2">
            <span>What is Computer Systems Engineering?</span>
          </div>
          Computer Systems Engineering is one of the most popular Engineering fields,
          with the number of professionals growing steadily. One reason for this may
          lie in the fact that Computer Systems Engineering jobs are abudant and there
          is an open position for everyone. Another reason may be that salaries are
          quite lucrative. Whatever the case, the fact remains that the number if Computer
          Systems Engineering jobs is projected to expand in the future. <br>
          <b>Here are the most common Computer Systems Engineering career choices:</b>
          Application Software Developer, Computer Hardware Engineer, and Systems Software 
          Developer.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="career">
  <div class="container">
    <h2 class="careers text-center font-weight-bold">CAREERS</h2>
    <div class="row main p-2">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="static/admin/img/Developer-vs-Engineer-Software-1024x576.jpeg" class="img-fluid">
          </div>
          <div class="card-title text-center">
            <h3 class="my-3">Systems Software Developer</h3>
            <p class="lead">Systems Software Developers are responsible for developing software used on a
              system level. They research and design software that they install and operate as well.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="static/admin/img/hardware-engineer.jpg" class="img-fluid">
          </div>
          <div class="card-title text-center">
            <h3 class="my-3">Computer Hardware Engineer</h3>
            <p class="lead">Computer hardware engineers create the physical components that make computers
              run. They design new hardware systems, test their designs, analyse their test results, and
              manage manufacturing for completed projects.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="/static/admin/img/network-engineer-big.jpg" class="img-fluid">
          </div>
          <div class="card-title text-center">
            <h3 class="my-3">Computer Network Engineer</h3>
            <p class="lead">A network engineer designs, implements and maintain computer networks, which 
              are systems that allow computers to communicate with each other and share data and resources.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="card-footer" ></div>

{% endblock %}